* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(150px, 300px));
    grid-template-rows: repeat(3, minmax(100px, auto));
    grid-auto-rows:  minmax(100px, 200px);
    /* grid-auto-flow: column; */
    gap: 60px;
    width: 80%;
    margin: 82px auto 0 auto;
}
.grid-items {
   min-height: 135px;
}
img {
    width: 100%;
}
.grid-descr {
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    margin-top: 15px;
}